@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Menambahkan custom scale dari 10 sampai 50 */
  --scale-10: 0.10;
  --scale-15: 0.15;
  --scale-20: 0.20;
  --scale-25: 0.25;
  --scale-30: 0.30;
  --scale-35: 0.35;
  --scale-40: 0.40;
  --scale-45: 0.45;
  --scale-50: 0.50;

  --color-merah: #FC1C03;
  --color-putih: #F9F9F9;
  --color-abu: #828AA1;
  --color-abu-muda: #D9D9D9;
  --color-hitam: #060C0F;
  --color-biru: #0F6DE9;
  --color-biru-muda: #43D6DF;
  --color-hijau: #06D6A0;
}

@layer utilities {
  .nintendo-scroll {
    /* Untuk Firefox */
    scrollbar-width: thin;
    scrollbar-color: #D0D4D5 rgba(0, 0, 0, 0);
  }

  /* Untuk Chrome, Edge, Safari */
  .nintendo-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .nintendo-scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Track transparan gelap */
    border-radius: 10px;
    margin-block: 4px; /* Memberi jarak atas bawah sedikit */
  }

  .nintendo-scroll::-webkit-scrollbar-thumb {
    background-color: #ff3e3e; /* Warna Merah Joy-Con */
    border-radius: 10px;
    border: 2px solid transparent; /* Trik agar terlihat 'mengambang' */
    background-clip: content-box;
  }

  .nintendo-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; /* Merah lebih terang saat di-hover */
  }
  
  /* Opsional: Style corner */
  .nintendo-scroll::-webkit-scrollbar-corner {
    background: transparent;
  }
}